# Application
APP_PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=debt_manager

# JWT
JWT_ACCESS_SECRET=change_me_access_secret_very_long_string
JWT_REFRESH_SECRET=change_me_refresh_secret_very_long_string
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
